.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
.lineage/
.nf-core/
sra_downloads/**/*
!sra_downloads/**/
!sra_downloads/**/.gitkeep
!sra_downloads/results/samplesheet/samplesheet.csv

results/**/*
!results/**/
!results/**/.gitkeep
!results/pipeline_info/

test_data/*

databases/**/*
!databases/**/
!databases/**/.gitkeep